* {
  margin: 0px;
}

body {
  background-color: rgb(36, 29, 29);
  color: white;
  max-width: 70%;
  min-width: 10%;
  margin: auto;
}

.flex-container {
  display: flex;
  padding: 10px;
  background-color: tomato;
  border: 1px solid white;
}

.flex-item {
  text-align: center;
  padding: 10px;
  border: 3px dotted purple;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}


.grow0_2 {
  flex-grow: 0.2;
}

.grow0_5{
  flex-grow: 0.5;
}

.grow1 {
  flex-grow: 1;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color: brown;
  border: 1px solid white;
}

.grid-item {
  border: 3px dotted yellow;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.flex-shrink {
  flex-shrink: 2;
}

.padding-10 {
  padding: 10px;
}

.margin-5 {
  margin: 5px;
}

#logo {
  align-items: center;
  
}

a {
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

/* .borda {
  border: 1px solid red;
} */

.caixa {
  height: 10vh;
}

.color-tomato {
  background-color: tomato;
}

.icon {
  min-width: 12px;
  min-height: 12px;
  max-width: 32px;
  max-height: 32px;
}

#header {
  min-height: 15vh;
  
}